/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  .product-list {
    list-style: none;
    padding: 0;
  }
  
  .product-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    margin: 0;
  }
  
  .nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .nav-item {
    margin-right: 10px;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
  }
  
  /* Form styles */
  .form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-submit {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .form-submit:hover {
    background-color: #555;
  }
  
  
  .product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .product {
    flex: 1 1 calc(33.33% - 20px);
    border: 1px solid #333;
    padding: 3px;
  }
  
  .break-line {
    width: 100%;
    margin-top: 20px;
    border: none;
    border-top: 1px solid #ccc; 
  }
  
  
  .product-image {
    width: 300px;
    height: 200px;
    object-fit: cover; 
    border-radius: 5px; 
  }
  